<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= process.env.appName %></title>
    <style>
        body, html
            {
            margin: 0; padding: 0; height: 100%; overflow: hidden;
            }
            #content
            {
            position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
            iframe
            {
                width:100%;height:100%;
            }
            a
            {
                position:fixed; margin-top:14px; margin-left:14px;
            }
            img
            {
                height:100%; width:100%; background:rgb(99, 98, 98)
            }
    </style>
</head>
<body>
    <div id="content">
        <a href="/<%= category %>/<%= journal %>" class=""><img src="./../../../back.png" alt="" class=""></a>
        <iframe src="<%= pdf %>" allow="autoplay"></iframe>
    </div>
</body>
</html>
