<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= process.env.appName %></title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center vh-100 text-danger">
            <h1 class="text-danger fw-bold">
                Page Not Found
            </h1>
        </div>
    </div>
</body>
</html>